.slider {
    -webkit-appearance: none;
    width: 100%;
    display: block;
    height: 10px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    background: linear-gradient(45deg, rgb(255,0,0), rgb(0,255,0));
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: rgb(127,128,0);
    cursor: pointer;
    border:3px solid #ffffff;
}

.slider::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: rgb(127,128,0);
    cursor: pointer;
    border:3px solid #ffffff;
}